<%= form_for :order, url: filter_orders_path, method: 'get' do |f| %>
  <%= select_tag "status", options_for_select([ "paid", "cancelled", 'ordered', 'completed' ], "MasterCard") %>
  <%= submit_tag "Filter" %>
<% end %>
<ul class='orders'%>
<li class='order'>
	<% @orders.each do |order| %>
  <%= link_to order.name, order %>
  <%= order.user.email %>
  <%= order.status %>
  <% if order.status == "paid" || order.status == 'ordered' %>
    <%= link_to 'Cancel', cancel_order_path(order) %>
  <% end %>
<% end %>
</li>
</ul>