<%= render 'search/search_form'%> 
<ul class="categories">
	<% @categories.each do |category| %>
	  <%= link_to category.title, category %>
	<% end %>
</ul>
<ul class="items">
	<% @items.each do |item| %>
	  <li class="item" id="<%= item.id %>">
		  <span class='title' id="<%= item.id %>"><%= item.title %></span>
		  <span class='description'><%= item.description %></span>
		  <span class='price'><%= item.price %></span>
		  <span class='buy_button'><%= button_to "Add to Cart", line_items_path(item_id: item) %></span>
		  <span class='reviews'><%= link_to 'Reviews',item_reviews_path(item) %></span>
		 
		    <span class='write_review'><%= link_to 'Write a review',new_item_review_path(item) %></span>
		</li>
	<% end %>
<ul>