<%= link_to "New", new_item_path %>
<ul class="items">
	<% @items.each do |item| %>
	  <li class="item" id="<%= item.id %>">
		  <span class='title'><%= item.title %></span>
		  <span class='description'><%= item.description %></span>
		  <span class='price'><%= item.price %></span>
		  <span class='photo'><%= image_tag item.photo.url %></span>
		  <span class='edit'><%= link_to "Edit", edit_item_path(item) %></span>
		  <span class='archive'><%= link_to 'Archive', archive_item_path(item) %></span>
		  <span class='reviews'><%= link_to 'Reviews',item_reviews_path(item) %></span>
		</li>
	<% end %>
<ul>