<ul class='reviews'><h1> Reviews </h1>
  <% @reviews.each do |review| %>
		<li id="<%=review.id %>">
		  <span class='reviewer'>Reviewed by <%= review.user.name %></span>
		  <span class='title'><%= review.title %></span>
		  <span class='body'><%= review.body %></span>
		  <span class='stars'>Stars: <%= review.stars %></span>
		</li>
	<% end %>
</ul>