<ul class="categories">
<% @categories.each do |category| %>
  <%= link_to category.title, category %>
  <% end %>
</ul>
<ul class="sale_items">
  <% @items.each do |item| %>
    <li class="item" id="<%= item.id %>">
      <span class='title'><%= item.title %></span>
      <span class='description'><%= item.description %></span>
      <span class='actual_price'><%= item.price %></span>
      <span class='sale_price'><%= item.price_after_discount %></span>
      <span class='percent_discount'><%= item.sale.discount %>%</span>
      <span class='photo'><%= image_tag item.photo.url %></span>
     </li>
  <% end %>
<ul>